<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/meta/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen and (min-width : 605px)" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width : 604px)" href="/css/style_small.css">
    <title>Escuela Técnica Lorem</title>
    <!-- CAMBIAR LUEGO (titulo) -->
</head>


<body>

    <header>
        <div>
            <nav class="flex-header-container">
                <div>
                    <a class="flex-header-items" href="/templates/carreras.html">Carreras</a>
                    <a class="flex-header-items" href="/templates/soporte.html">Soporte</a>
                    <a class="flex-header-items" href="/templates/profesores.html">Profesores</a>
                </div>
                <a href="/index.html"><img src="/media/meta/logo.svg" alt="logo" height="128" width="128"></a>
                <div>
                    <a class="flex-header-items" href="/templates/nosotros.html">Nosotros</a>
                    <a class="flex-header-items" href="/templates/registro.html">Inscripción</a>
                    <a class="flex-header-items" href="/templates/login.html">Ingresar</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="flex-carrera-container">
            <div class="flex-carrera-card">
                <h4>Electricidad y Electrónica</h4>

                <p>
                    Programas de electricidad, electrónica, instalación de sistemas eléctricos, mantenimiento de equipos
                    electrónicos, etc.
                </p>

                <img src="/media/carreras/Electricidad y Electrónica.jpg" alt="circuitos" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Mecánica Automotriz</h4>

                <p>
                    Formación en reparación y mantenimiento de vehículos automotores.
                </p>

                <img src="/media/carreras/Mecánica Automotriz.png" alt="mecanica" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Carpintería y Ebanistería</h4>

                <p>Enseñanza de técnicas de carpintería, construcción de muebles y trabajos de madera.</p>

                <img src="/media/carreras/Carpintería y Ebanistería.jpg" alt="carpintería" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Soldadura y Metalurgia</h4>

                <p>Programas para aprender técnicas de soldadura, trabajo con metales y fabricación.</p>
                
                <img src="/media/carreras/Soldadura y Metalurgia.png" alt="Metalurgia" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Tecnología de la Información</h4>

                <p>Cursos en programación, redes, administración de sistemas, diseño web y desarrollo de software.</p>

                <img src="/media/carreras/Tecnología de la Información.png" alt="informatica" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Construcción y Albañilería</h4>

                <p>Enseñanza de habilidades relacionadas con la construcción, como albañilería, plomería, electricidad, etc.</p>

                <img src="/media/carreras/Construcción y Albañilería.jpeg" alt="Construcción y Albañilería" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Mecatrónica</h4>

                <p>Un campo que combina la mecánica y la electrónica para la automatización industrial y el mantenimiento de equipos.</p>

                <img src="/media/carreras/Mecatrónica.png" alt="Mecatrónica" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Enfermería y Asistencia Sanitaria</h4>

                <p>Programas de formación para convertirse en enfermero o asistente de salud.</p>

                <img src="/media/carreras/Enfermería y Asistencia Sanitaria.png" alt="Enfermería" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Gastronomía y Hostelería</h4>

                <p>Cursos de cocina, gestión de restaurantes y servicios de hospitalidad.</p>

                <img src="/media/carreras/Gastronomía y Hostelería.png" alt="Gastronomía" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Estética y Cosmetología</h4>

                <p>Formación en cuidado de la piel, maquillaje, peluquería y técnicas de spa.</p>

                <img src="/media/carreras/Estética y Cosmetología.jpg" alt="Estética" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Diseño Gráfico y Multimedia</h4>

                <p>Enseñanza de diseño gráfico, diseño de sitios web, animación y medios digitales.</p>

                <img src="/media/carreras/Diseño Gráfico y Multimedia.png" alt="Multimedia" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Electricidad y Energía Renovable</h4>

                <p>Programas relacionados con la instalación y mantenimiento de sistemas de energía solar, eólica y otras fuentes de energía renovable.</p>

                <img src="/media/carreras/Electricidad y Energía Renovable.png" alt="energía renovable" loading="lazy">
            </div>

            <div class="flex-carrera-card">
                <h4>Agricultura y Horticultura</h4>

                <p>Formación en agricultura, jardinería, paisajismo y cultivo de plantas.</p>
            </div>

            <div class="flex-carrera-card">
                <h4>Mecánica Industrial</h4>

                <p>Enseñanza de técnicas de mantenimiento y reparación de maquinaria industrial.</p>
            </div>

            <div class="flex-carrera-card">
                <h4>Soldadura y Fabricación de Metales</h4>

                <p>Programas que se centran en técnicas de soldadura y fabricación de productos metálicos.</p>
            </div>

            <div class="flex-carrera-card">
                <h4>Culinaria y Repostería</h4>

                <p>Enseñanza de técnicas de cocina, pastelería y repostería.</p>
            </div>

        </div>

        <div class="text-systemTitle">
            <h2>|Sitio en construcción|</h2>
        </div>
    </main>


    <footer>
        <hr>
        <div class="flex-footer-container">
            <div class="flex-footer-items">
                <strong>
                    <h2>Escuela Técnica Lorem 2023</h2>
                </strong>
            </div>
            <br>
            <p class="flex-footer-items">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio
                mollitia asperiores
                exercitationem consequatur commodi consectetur odit, necessitatibus atque doloremque.</p>
        </div>
    </footer>
</body>

</html>