<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/flex.css">
</head>

<body>
    <!-- header (?) -->
    <header>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="/templates/lista.html">Listas</a>
            <a href="/templates/tabla.html">Tabla</a>
            <a href="/templates/galeria.html">Galería</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>


    <main>

        <div class="card-container">
            <div class="flex-card">
                <img src="/media/arbol.jpg" loading="lazy">
                <div>
                    <h2>test</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit exercitationem
                        consectetur optio tempore minus molestias alias iste veniam eveniet commodi nesciunt sunt sequi
                        totam harum quisquam, excepturi neque officia cupiditate?
                        At magnam, autem sed commodi provident id dignissimos. Neque iste facere quae, dicta quam fugit
                        repudiandae. Ullam illum veritatis, reprehenderit, voluptas totam, accusantium illo expedita rem
                        itaque numquam accusamus et?
                        Consectetur fugit provident deleniti minus reprehenderit sint porro voluptatum, similique
                        explicabo earum iusto nulla, ratione veniam doloribus repellat unde, doloremque autem aspernatur
                        dolore numquam. Nihil repellendus doloremque provident distinctio libero.</p>
                </div>
            </div>

            <div class="flex-card">
                <img src="/media/arbol.jpg" loading="lazy">
                <div>
                    <h2>test</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit maxime eaque minus iure! Quod,
                        nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor corporis autem mollitia
                        error asperiores ratione!</p>
                </div>
            </div>
        </div>





    </main>


    <footer>
        <h4>pié de pagina</h4>

        <p>Curso FullStack de Python</p>



    </footer>
</body>

</html>