<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- header (?) -->
    <header>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="/templates/lista.html">Listas</a>
            <a href="/templates/tabla.html">Tabla</a>
            <a href="/templates/galeria.html">Galería</a>
            <a href="/templates/registro.html">Registro (Formulario)</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
            <a href="#text_001">Ver texto</a>
        </nav>
    </header>


    <main>
        <h1>Galería</h1>

        <section>
            <div>
                <img src="/media/arbol.jpg" alt="arbol">
                <a href="/media/arbol.jpg" target="_blank" download>ver imagen</a>
                <h1>ARBOL</h1>
                <p>el arbol</p>
                <a href="/files/pdf_naruto.pdf" download>descargar PDF</a>
            </div>
            <div>
                <img src="/media/arbol.jpg" alt="arbol">
                <a href="/media/arbol.jpg" target="_blank" download>ver imagen</a>
                <h1>ARBOL</h1>
                <p>el arbol</p>
                <a href="/files/pdf_naruto.pdf" download>descargar PDF</a>
            </div>
        </section>


        <section id="text_001">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dignissimos laborum, explicabo saepe ea maxime rem rerum praesentium eos neque assumenda aliquam adipisci, sequi nihil ipsum qui nobis distinctio iusto?
            Neque facere esse expedita quaerat a placeat ab iste veniam, beatae recusandae nihil unde possimus exercitationem, ducimus corporis natus fugiat illo rerum deleniti ullam aperiam aliquid minima quia. A, fuga?
            Aliquid maiores veniam provident assumenda, sunt nihil ipsa aperiam repellat velit, porro nobis, aut doloremque itaque quis ipsam quod quam quo est tempore! Exercitationem modi quis iusto eos aspernatur ipsum?
            Molestias nam aliquid praesentium eveniet ad quidem quia impedit dolorem ratione ducimus dicta et quis quaerat quibusdam provident, tenetur distinctio libero atque porro tempora repellendus consectetur sapiente dolores minima. Perspiciatis.
            Fugiat facere incidunt asperiores. Accusamus illum minima voluptatibus placeat eius ad, tenetur molestiae quam. Laudantium minima quam unde magnam at veniam iure, vitae nemo ratione tempore aliquam deleniti omnis quis.
            Obcaecati delectus officia quam quasi unde ipsam ratione, consectetur quisquam nobis! Ad, magni sunt praesentium impedit blanditiis temporibus! Cupiditate, autem! Cupiditate ullam laborum libero quos consectetur facere fugiat voluptas illum?
            Nostrum, nam magnam! Eos mollitia quam aliquam nemo ab reiciendis possimus tempore voluptas dolore voluptates, excepturi ullam pariatur impedit delectus adipisci, distinctio enim reprehenderit. Voluptas ipsa non deleniti magnam necessitatibus.</p>
        </section>
    </main>

    <footer>
        <h4>pié de pagina</h4>

        <p>Curso FullStack de Python</p>



    </footer>

</body>

</html>