<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- header (?) -->
    <header>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="/templates/lista.html">Listas</a>
            <a href="/templates/tabla.html">Tabla</a>
            <a href="/templates/galeria.html">Galería</a>
            <a href="/templates/registro.html">Registro (Formulario)</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>

    <main>
        <!--sección 1-->
        <section>
            <h1>lista ordenada</h1>
            <li>lunes</li>
            <li>martes</li>
            <li>miercoles</li>
            <li>jueves</li>
            <li>viernes</li>
            <li>sabado</li>
            <li>domingo</li>

            <ol type="1">
                <li>test1</li>
                <li>test2</li>
                <li>test3</li>
                <li>test4</li>
            </ol>
            <ol type="I">
                <li>lunes</li>
                <li>martes</li>
                <li>miercoles</li>
                <li>jueves</li>
                <li>viernes</li>
                <li>sabado</li>
                <li>domingo</li>
            </ol>
        </section>

        <!--sección 2-->
        <section>
            <h1>listas desordenadas</h1>
            <ul type="square">
                <li>argentina</li>
                <li>perú</li>
                <li>australia</li>
                <li>mexico</li>
                <li>noruega</li>
            </ul>
        </section>

        <!--sección 3-->
        <section>
            <h1>listas dependientes</h1>

            <ul>
                <li>lunes</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>

                <li>martes</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>

                <li>miercoles</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>

                <li>jueves</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>

                <li>viernes</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>

                <li>sabado</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>

                <li>domingo</li>
                <ul>
                    <li>mañana</li>
                    <ul>

                    </ul>

                    <li>tarde</li>
                    <ul>

                    </ul>

                    <li>noche</li>
                    <ul>

                    </ul>

                </ul>
            </ul>

        </section>

        <!--sección 4-->
        <section>
            <h1>lista de definición</h1>

            <p><b>Alimentos Lacteos</b></p>

            <dl>
                <i><dt>Leche</dt></i>
                <dd>Entera</dd>
                <dd>Descremada</dd>


                <i><dt>Queso</dt></i>
                <dd>azul</dd>
                <dd>cremoso</dd>
            </dl>

        </section>
    </main>


    <footer>
        <h4>pié de pagina</h4>

        <p>Curso FullStack de Python</p>



    </footer>

</body>

</html>