<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/meta/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Escuela Técnica</title>
    <!-- CAMBIAR LUEGO (titulo) -->
</head>


<body>

    <header>
        <div>
            <nav class="flex-header-container">
                <a class="flex-header-items" href="/templates/carreras.html">Carreras</a>
                <a class="flex-header-items" href="/templates/soporte.html">Soporte</a>
                <a class="flex-header-items" href="/templates/profesores.html">Profesores</a>
                <a href="/index.html"><img src="/media/meta/logo.svg" alt="logo" height="128" width="128"></a>
                <a class="flex-header-items" href="/templates/nosotros.html">Nosotros</a>
                <a class="flex-header-items" href="/templates/registro.html">Inscripción</a>
                <a class="flex-header-items" href="/templates/login.html">Ingresar</a>
            </nav>
        </div>
    </header>

    <main>

    </main>


    <footer>
        <hr>
        <div class="flex-footer-container">
            <div class="flex-footer-items">
                <strong>
                    <h2>Escuela Técnica Lorem 2023</h2>
                </strong>
            </div>
            <br>
            <p class="flex-footer-items">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio
                mollitia asperiores
                exercitationem consequatur commodi consectetur odit, necessitatibus atque doloremque.</p>
        </div>
    </footer>
</body>

</html>