<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/meta/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen and (min-width : 605px)" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width : 604px)" href="/css/style_small.css">
    <title>Escuela Técnica Lorem</title>
    <!-- CAMBIAR LUEGO (titulo) -->
</head>


<body>

    <header>
        <div>
            <nav class="flex-header-container">
                <div>
                    <a class="flex-header-items" href="/templates/carreras.html">Carreras</a>
                    <a class="flex-header-items" href="/templates/soporte.html">Soporte</a>
                    <a class="flex-header-items" href="/templates/profesores.html">Profesores</a>
                </div>
                <a href="/index.html"><img src="/media/meta/logo.svg" alt="logo" height="128" width="128"></a>
                <div>
                    <a class="flex-header-items" href="/templates/nosotros.html">Nosotros</a>
                    <a class="flex-header-items" href="/templates/registro.html">Inscripción</a>
                    <a class="flex-header-items" href="/templates/login.html">Ingresar</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="flex-main-container">
            <div>
                <h5>Acerca de Nosotros. Escuela Técnica Lorem:</h5>
                <p>En la Escuela Técnica Lorem, nuestra pasión es impulsar el futuro a través de la educación
                    técnica
                    de vanguardia. Somos mucho más que una institución educativa; somos un faro de creatividad,
                    innovación y
                    excelencia técnica. Aquí, la imaginación se combina con la destreza, y la innovación se convierte en
                    un
                    hábito.</p>

                <h5>Nuestra Misión: </h5>
                <p>Transformar a los soñadores en hacedores, a los curiosos en innovadores y a los estudiantes en
                    líderes de
                    la industria.</p>

                <h5>Nuestro Compromiso:</h5>
                <p>Brindar una experiencia educativa excepcional que fusiona la teoría con la práctica, impulsando a
                    nuestros estudiantes a superar los límites de lo posible.</p>

                <h5>Nuestro Equipo:</h5>
                <p>Estamos orgullosos de contar con un cuerpo docente de élite, compuesto por expertos en diversas
                    disciplinas técnicas. Cada miembro del equipo está comprometido a inspirar y nutrir el potencial de
                    nuestros estudiantes.</p>

                <h5>Nuestros Valores Fundamentales:</h5>
                <h6>Innovación:</h6>
                <p>Promovemos la creatividad y la búsqueda constante de soluciones técnicas novedosas.</p>

                <h6>Excelencia:</h6>
                <p>Buscamos la calidad en todo lo que hacemos, desde la enseñanza hasta la infraestructura.</p>

                <h6>Comunidad:</h6>
                <p>Fomentamos un ambiente de colaboración y apoyo mutuo entre estudiantes, personal y la comunidad en
                    general.</p>

                <h5>Nuestra Oferta Educativa:</h5>
                <p>Ofrecemos una amplia gama de programas técnicos de vanguardia, desde robótica y programación hasta
                    energías renovables y diseño industrial. Nuestros estudiantes obtienen una educación integral que
                    los prepara para los desafíos del mundo real.</p>

                <h5>Nuestra Visión:</h5>
                <p>Ser la principal institución de educación técnica a nivel global, donde los innovadores del mañana se
                    forjan hoy.</p>

                <h5>Únete a la Revolución Técnica:</h5>
                <p>Si estás listo para explorar el mundo de la tecnología y la innovación, te invitamos a unirte a
                    nosotros en la Escuela Técnica Lorem. Juntos, construiremos un futuro impulsado por la
                    creatividad y la excelencia técnica. ¡Tu viaje comienza aquí!</p>

                <h3 style="display: flex; justify-content: center;margin-top: 10vw;">En la Escuela Técnica Lorem, el
                    mañana se construye hoy.</h3>


                <h3>donde encontrarnos:</h3>

                <iframe src="https://www.google.com/maps/@-78.3031701,-81.1990815,7.37z" frameborder="0"></iframe>
            </div>
        </div>
    </main>


    <footer>
        <hr>
        <div class="flex-footer-container">
            <div class="flex-footer-items">
                <strong>
                    <h2>Escuela Técnica Lorem 2023</h2>
                </strong>
            </div>
            <br>
            <p class="flex-footer-items">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio
                mollitia asperiores
                exercitationem consequatur commodi consectetur odit, necessitatibus atque doloremque.</p>
        </div>
    </footer>
</body>

</html>