<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/meta/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen and (min-width : 605px)" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width : 604px)" href="/css/style_small.css">
    <title>Escuela Técnica Lorem</title>
    <!-- CAMBIAR LUEGO (titulo) -->
</head>


<body>

    <header>
        <div>
            <nav class="flex-header-container">
                <div>
                    <a class="flex-header-items" href="/templates/carreras.html">Carreras</a>
                    <a class="flex-header-items" href="/templates/soporte.html">Soporte</a>
                    <a class="flex-header-items" href="/templates/profesores.html">Profesores</a>
                </div>
                <a href="/index.html"><img src="/media/meta/logo.svg" alt="logo" height="128" width="128"></a>
                <div>
                    <a class="flex-header-items" href="/templates/nosotros.html">Nosotros</a>
                    <a class="flex-header-items" href="/templates/registro.html">Inscripción</a>
                    <a class="flex-header-items" href="/templates/login.html">Ingresar</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div>
            <h3 class="flex-main-container text-systemTitle formatSpace center">Bienvenido al Registro estudiantíl.</h3>
            <div id="flex-form-textlogo">
                <h1>Formulario</h1>
            </div>
            <hr class="formatSpace">
            <div class="flex-main-container formatSpace center" id="specificForm1">
                <div class="flex-main-container" id="specificForm2">
                    <form action="" class="flex-form-container">

                        <div>
                            <input type="reset" value="Reiniciar" class="flex-form-button flex-form-button-reset"
                                id="templates-registro-topButton">
                        </div>


                        <label for="form_Nombre">Nombre: </label>
                        <input type="text" name="form_Nombre" id="form_Nombre" placeholder="Nombre" required
                            class="flex-form-items">



                        <label for="form_Apellido">Apellido: </label>
                        <input type="text" name="form_Apellido" id="form_Apellido" placeholder="Apellido" required
                            class="flex-form-items">



                        <label for="form_Email">Email: </label>
                        <input type="email" name="form_Email" id="form_Email" placeholder="Email" required
                            class="flex-form-items">



                        <label for="form_FechaNacimiento">Fecha Nacimiento: </label>
                        <input type="date" name="form_FechaNacimiento" id="form_FechaNacimiento" min="18" required
                            class="flex-form-items">



                        <label for="form_DNI">DNI: </label>
                        <input type="number" name="form_DNI" id="form_DNI" required class="flex-form-items">



                        <label for="form_Pass">contraseña: </label>
                        <input type="password" required class="flex-form-items">


                        <div>
                            <input type="submit" value="Finalizar" class="flex-form-button flex-form-button-submit"
                                id="templates-registro-bottomButton">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <hr>
        <div class="flex-footer-container">
            <div class="flex-footer-items">
                <strong>
                    <h2>Escuela Técnica Lorem 2023</h2>
                </strong>
            </div>
            <br>
            <p class="flex-footer-items">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio
                mollitia asperiores
                exercitationem consequatur commodi consectetur odit, necessitatibus atque doloremque.</p>
        </div>
    </footer>
</body>

</html>