<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/meta/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen and (min-width : 605px)" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width : 604px)" href="/css/style_small.css">
    <title>Escuela Técnica Lorem</title>
    <!-- CAMBIAR LUEGO (titulo) -->
</head>


<body>

    <header>
        <div>
            <nav class="flex-header-container">
                <div>
                    <a class="flex-header-items" href="/templates/carreras.html">Carreras</a>
                    <a class="flex-header-items" href="/templates/soporte.html">Soporte</a>
                    <a class="flex-header-items" href="/templates/profesores.html">Profesores</a>
                </div>
                <a href="/index.html"><img src="/media/meta/logo.svg" alt="logo" height="128" width="128"></a>
                <div>
                    <a class="flex-header-items" href="/templates/nosotros.html">Nosotros</a>
                    <a class="flex-header-items" href="/templates/registro.html">Inscripción</a>
                    <a class="flex-header-items" href="/templates/login.html">Ingresar</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="flex-main-container">
            <div>
                <h5 class="center">Soporte al Cliente</h5>
                <p>Bienvenido a nuestro servicio de soporte al cliente. Estamos aquí para ayudarte con cualquier
                    pregunta, inquietud o problema que puedas tener. Nuestro equipo de soporte altamente capacitado está
                    a tu disposición.</p>
                <p>Si necesitas asistencia inmediata, no dudes en contactarnos por correo electrónico en
                    <b class="highlight">soporte@ejemplo.com</b> . Estamos disponibles las 24 horas del día, los 7 días
                    de la semana, y haremos
                    todo lo posible para responder a tus consultas en un plazo de 24 horas.
                </p>
                <p>Si prefieres comunicarte con nosotros por teléfono, nuestro número de atención al cliente es el
                    siguiente: <b class="highlight">+1-800-555-1234</b>. Nuestros agentes estarán encantados de
                    atenderte de lunes a viernes, de
                    9:00 a.m. a 5:00 p.m. (hora estándar del Pacífico).</p>
            </div>
        </div>
    </main>


    <footer>
        <hr>
        <div class="flex-footer-container">
            <div class="flex-footer-items">
                <strong>
                    <h2>Escuela Técnica Lorem 2023</h2>
                </strong>
            </div>
            <br>
            <p class="flex-footer-items">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti optio
                mollitia asperiores
                exercitationem consequatur commodi consectetur odit, necessitatibus atque doloremque.</p>
        </div>
    </footer>
</body>

</html>