<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- header (?) -->
    <header>
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="/templates/lista.html">Listas</a>
            <a href="/templates/tabla.html">Tabla</a>
            <a href="/templates/galeria.html">Galería</a>
            <a href="https://www.google.com/" target="_blank">Google</a>
        </nav>
    </header>


    <main>

    </main>
    

    <footer>
        <h4>pié de pagina</h4>

        <p>Curso FullStack de Python</p>



    </footer>
</body>

</html>